.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    /* 팝업보다 낮고 다른 콘텐츠보다 높게 설정 */
    opacity: 0;
    /* 초기에는 투명하게 */
    visibility: hidden;
    /* 초기에는 숨김 */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    /* 부드러운 전환 효과 */

    &.active {
        opacity: 1;
        /* 활성화 시 불투명하게 */
        visibility: visible;
        /* 활성화 시 보이게 */
        transition: opacity 0.3s ease;
        /* 나타날 때는 visibility 지연 없음 */
    }
}

.popup-profile {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
    z-index: 9999;
    position: fixed;
    background-color: $white;
    padding: 20px;
    border-radius: $br20;
    width: 85%;
    height: 95vh;
    border: $border-silver02;


    &.active {
        overflow-y: auto;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s;
    }

    .popup-inner {
        transform: scale(1);
        transition: transform 0.4s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
overflow-y: auto;
        .profile-content01 {
            .title {
                h4 {
                    color: $title-color;
                }

                h2 {
                    color: $main-black;
                    margin: $margin10;
                }
            }

            .content {
                margin-top: 40px;
                display: flex;
                width: 690px;

                .content-img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;

                    img {}
                }

                .content-text {
                    margin-left: 40px;
                    margin-top: auto;

                    h6 {
                        margin-bottom: 10px;
                    }

                    ul {


                        li {}
                    }
                }
            }
        }

        .profile-content02 {
            .title {
                h4 {
                    text-align: end;
                    color: $title-color;
                }

                h2 {
                    text-align: end;
                    color: $main-black;
                    margin: $margin10;
                }
            }

            .content {
                margin-top: 40px;
                display: flex;
                flex-direction: row-reverse;
                width: max-content;
                margin-left: auto;

                .content-img {

                    margin-left: 40px;

                    img {}
                }

                .content-text {
                    margin-top: auto;

                    h6 {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }


    button {
        position: absolute;
        top: 10px;
        right: 10px;

        iconify-icon {
            font-size: $title;
            color: $silver-light;

            &:hover {
                color: $main-black;
            }
        }
    }
}

.popup-project {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
    z-index: 9999;
    position: fixed;
    background-color: $white;
    padding: 60px;
    border-radius: $br20;
    width: 85%;
    height: 95vh;
    border: $border-silver02;
    
    &.active {
        
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s;
    }

    .popup-project-inner {
        position: relative;
        height: 100%;
overflow-y: auto;
        .popup-img {
            width: 100%;
            height: 50%;
            position: relative;

            img {
                width: 30%;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .popup-text {
            width: 100%;
            height: 100%;
            .popup-text-top {
                padding-bottom: 15px;

                h2 {
                    font-weight: 600;
                    font-size: $subTitle;

                    &.title-knotted {
                        color: $point-pink;
                    }

                    &.title-aomg {
                        color: $point-orange;
                    }

                    &.title-kams {
                        color: $point-red;
                    }

                    &.title-ebs {
                        color: $point-blue;
                    }
                    &.title-pinkfong {
                        color: #ff4dab;
                    }
                }

                h5 {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    font-size: $body-megaTitle;
                }

                .link-list {
                    display: flex;
                    align-items: center;

                    p {
                        display: inline-block;
                        width: 140px;
                        font-weight: bold;
                        line-height: 20px;
                    }

                    .link-box {
                        height: 42px;
                        width: max-content;
                        border-radius: 8px;
                        text-align: center;
                        line-height: 20px;
                        display: flex;
                        padding: 10px 15px;
                    }

                    .link-readme {
                        border: 1px solid #919191;
                        color: $main-black;
                        margin-right: 10px;
                        background-color: $main-silver;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $main-black;
                            color: $main-silver;
                        }
                    }



                    .link-homepage.knotted {
                        border: 1px solid #FFC1DD;
                        color: $white;
                        background-color: $point-pink;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: #fff;
                            color: $point-pink;
                            border: 1px solid $point-pink;
                        }
                    }

                    .link-homepage.aomg {
                        border: 1px solid #ffad8d;
                        color: $white;
                        background-color: $point-orange;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $white;
                            color: $point-orange;
                            border: 1px solid #ffad8d;
                        }
                    }

                    .link-homepage.kams {
                        border: 1px solid #9D5656;
                        color: $white;
                        background-color: $point-red;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $white;
                            color: $point-red;
                            border: 1px solid #9D5656;
                        }
                    }

                    .link-homepage.ebs {
                        border: 1px solid #97A6D0;
                        color: $white;
                        background-color: $point-blue;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $white;
                            color: $point-blue;
                            border: 1px solid #97A6D0;
                        }
                    }
                    .link-homepage.pinkfong {
                        border: 1px solid #ff4dab;
                        color: $white;
                        background-color: #ff4dab;
                        transition: .2s;
                        cursor: pointer;

                        &:hover {
                            background-color: $white;
                            color: #ff4dab;
                            border: 1px solid #ff4dab;
                        }
                    }

                }
            }

            .popup-text-middle {
                padding: 15px 0;
                border-top: $border-silver01;
                border-bottom: $border-silver01;

                p {
                    padding: 5px 0;

                    b {
                        display: inline-block;
                        width: 140px;
                    }
                }
            }

            .popup-text-bottom {
                padding-top: 15px;
                hr{
                    margin : 10px 0
                }
                p {
                    display: inline-block;
                    padding: 5px 0;
margin-top : 5px 0;
                    b {
                        display: inline-block;
                        width: 140px;
                    }
                }
            }
        }
    }

    button {
        position: absolute;
        top: 10px;
        right: 10px;

        iconify-icon {
            font-size: $title;
            color: $silver-light;

            &:hover {
                color: $main-black;
            }
        }
    }
}

@media (max-width : 500px) {
    .popup-profile {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.95);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;

        position: fixed;
        background-color: $white;
        padding: 40px 20px;
        border-radius: $br20;
        width: 85%;
        height: 95vh;
        border: $border-silver02;
        overflow-y: auto;

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s;
        }

        .popup-inner {
            transform: scale(1);
            transition: transform 0.4s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .profile-content01 {

                .title {
                    h4 {
                        color: $title-color;
                    }

                    h2 {
                        font-size: $subTitle;
                        color: $main-black;
                        margin: $margin10;
                    }
                }

                .content {
                    margin-top: 40px;
                    display: flex;
                    width: 100%;
                    flex-direction: column;

                    .content-img {
                        width: 40%;
                        height: auto;
                        border-radius: 50%;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                        }
                    }

                    .content-text {
                        margin-left: 10px;

                        h6 {

                            margin-bottom: 10px;
                        }

                        ul {


                            li {}
                        }
                    }
                }
            }

            .profile-content02 {
                margin-top: 80px;

                .title {
                    h4 {
                        text-align: end;
                        color: $title-color;
                    }

                    h2 {
                        font-size: $subTitle;
                        text-align: end;
                        color: $main-black;
                        margin: $margin10;
                    }
                }

                .content {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;
                    margin-left: auto;
                    width: 100%;

                    .content-img {

                        margin-left: 40px;

                        img {
                            display: block;
                            margin-left: auto;
                        }
                    }

                    .content-text {
                        margin-top: auto;

                        h6 {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }


        button {
            position: absolute;
            top: 10px;
            right: 10px;

            iconify-icon {
                font-size: $title;
                color: $silver-light;

                &:hover {
                    color: $main-black;
                }
            }
        }
    }

    .popup-project {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.95);
        transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;

        position: fixed;
        background-color: $white;
        padding: 20px;
        border-radius: $br20;
        width: 75%;
        height: 75vh;
        border: $border-silver02;
        

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s;
        }

        .popup-project-inner {
            position: relative;
            height: 100%;

overflow-y: auto;
            .popup-img {
                width: 100%;
                height: 30%;
                position: relative;
                margin: auto;

                img {
                    margin: auto;
                    width: 70%;
                    height: auto;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .popup-text {
                width: 100%;
                .popup-text-top {

                    h2 {
                        font-weight: 600;
                        font-size: $subTitle;

                        &.title-knotted {
                            color: $point-pink;
                        }

                        &.title-aomg {
                            color: $point-orange;
                        }

                        &.title-kams {
                            color: $point-red;
                        }

                        &.title-ebs {
                            color: $point-blue;
                        }
                    }

                    h5 {
                        margin-top: 20px;
                        margin-bottom: 15px;
                        font-size: $body-title;
                    }

                    .link-list {
                        display: flex;
                        align-items: center;

                        p {
                            display: inline-block;

                            font-weight: bold;
                            line-height: 20px;
                        }

                        .link-box {
                            height: 42px;
                            width: max-content;
                            border-radius: 8px;
                            text-align: center;
                            line-height: 20px;
                            display: flex;
                            padding: 10px 15px;
                        }

                        .link-readme {
                            border: 1px solid #919191;
                            color: $main-black;
                            margin-right: 10px;
                            background-color: $main-silver;
                            transition: .2s;
                            cursor: pointer;

                            &:hover {
                                background-color: $main-black;
                                color: $main-silver;
                            }
                        }



                        .link-homepage.knotted {
                            border: 1px solid #FFC1DD;
                            color: $white;
                            background-color: $point-pink;
                            transition: .2s;
                            cursor: pointer;

                            &:hover {
                                background-color: #fff;
                                color: $point-pink;
                                border: 1px solid #97A6D0;
                            }
                        }

                        .link-homepage.aomg {
                            border: 1px solid #ffad8d;
                            color: $white;
                            background-color: $point-orange;
                            transition: .2s;
                            cursor: pointer;

                            &:hover {
                                background-color: $white;
                                color: $point-orange;
                                border: 1px solid #ffad8d;
                            }
                        }

                        .link-homepage.kams {
                            border: 1px solid #9D5656;
                            color: $white;
                            background-color: $point-red;
                            transition: .2s;
                            cursor: pointer;

                            &:hover {
                                background-color: $white;
                                color: $point-red;
                                border: 1px solid #9D5656;
                            }
                        }

                        .link-homepage.ebs {
                            border: 1px solid #97A6D0;
                            color: $white;
                            background-color: $point-blue;
                            transition: .2s;
                            cursor: pointer;

                            &:hover {
                                background-color: $white;
                                color: $point-blue;
                                border: 1px solid #97A6D0;
                            }
                        }

                    }
                }

                .popup-text-middle {
                    padding: 15px 0;
                    border-top: $border-silver01;
                    border-bottom: $border-silver01;

                    p {
                        padding: 5px 0;
                        display: flex;
                        flex-direction: row;

                        b {
                            display: inline-block;
                            width: 110px;
                        }

                        span {
                            width: 200px;
                            display: inline-block;

                        }
                    }
                }

                .popup-text-bottom {

                    p {
                        display: inline-block;
                        padding: 5px 0;

                        b {
                            width: 140px;
                        }
                    }
                }
            }
        }

        button {
            position: absolute;
            top: 10px;
            right: 10px;

            iconify-icon {
                font-size: $title;
                color: $silver-light;

                &:hover {
                    color: $main-black;
                }
            }
        }
    }
}
